@charset "UTF-8";
@font-face {
    font-family: 'poppins';
    src: url('poppins-medium-e5fa7742ccb9a0e435ef299cca721d89.woff2') format('woff2'),
        url('poppins-medium-f0ca7230a497c813f8c2a94353e94370.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('poppins-regular-b1a52b1c828fdf02eacdaa2fdd43795a.woff2') format('woff2'),
        url('poppins-regular-24b77c39b2e78acfaf3815c0e51abf4a.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'poppins';
    src: url('poppins-bold-831ffd54a115e66661e148205e97a574.woff2') format('woff2'),
        url('poppins-bold-aa8072ea79782220d683aaccf40478ad.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}