@charset "utf-8";
*{font-family: "poppins", "SimSun", "PingFang SC", "Helvetica Neue", Helvetica, Arial;font-weight: lighter;}
html, div{outline:0;}
body{ background:#fff;width: 100%;height: 100%;max-width: 1920px;margin:0 auto;overflow-x: hidden;position: relative;}
.wrap{width:1280px; margin:0 auto; zoom:1;}
.text-over{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.w_1200 .w{width: 1200px;min-width: 1200px;margin: 0 auto;}
.in_ad{position: relative; font-size: 0;}
.in_ad:before{ display: block; content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 11px; background: url(../img/pro_ban_bg.png) no-repeat bottom center; z-index: 1;}
.in_ad .ad_con{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.in_ad .ad_con .con_table{ display: table; width: 100%; height: 100%;}
.in_ad .ad_con .con_table .con_table_cell{ display: table-cell; vertical-align: middle;}
.in_ad .ad_con .ueeshop_responsive_position{ width: 100%; border-bottom: 0;}
.in_ad .ad_con .ueeshop_responsive_position .title{ float: none; width: 100%; max-width: inherit; height: 70px; line-height: 70px; font-size: 48px; color: #fff; text-align: center;}
.in_ad .ad_con .ueeshop_responsive_position .position{ float: none; width: 100%; max-width: inherit; height: 26px; line-height: 26px; text-align: center;}
.in_ad .ad_con .ueeshop_responsive_position .position{ font-size: 14px; color: #fff;}
.in_ad .ad_con .ueeshop_responsive_position .position a{ font-size: 14px; color: #fff;}
.tc{text-align: center;}
.article-content{background: #f7f7f7;}
.article-content .art-title{height: 35px;margin: 30px 0;font-size: 22px;color: #333;text-align: center;}
.wrap-module body .ueeshop_responsive_position{margin-top: 8px;line-height: 40px;margin-bottom: 25px;border-color: #e6e6e6;}
.art-menu-wrap-style{margin-bottom: 45px;}
.art-menu-wrap-style .menu{text-align: center;}
.art-menu-wrap-style .menu ul li{display: inline-block;font-size: 15px;color: #222;margin:0 25px;}

.menu-in-left{padding-top: 50px;}
.menu-in-left .menu-wrap-style{width: 20%;float: left;}
.menu-in-left .wrap-righter-style{width: 73.75%;float: right;}
.menu-wrap-style .menu{}
.menu-wrap-style .menu .m-title{font-size: 19px;color: #191919;margin-bottom: 15px;}
.menu-wrap-style .menu .cate-top{font-size: 18px;color: #191919;font-weight: bold;margin-bottom: 20px;}
.menu-wrap-style .menu h3{margin-bottom: 10px;}
.menu-wrap-style .menu h3 a{font-size: 15px;color: #222;font-weight: bold;}
.menu-wrap-style .menu .sublist{line-height: 250%;margin-bottom: 15px;}
.menu-wrap-style .menu .sublist li{}
.menu-wrap-style .menu .sublist li a{font-size: 16px;color: #555;}
.menu-wrap-style .menu .sublist li a:before{width: 13px;height: 13px;border:1px solid #464646;border-radius: 3px; display: inline-block;vertical-align: middle;margin-right: 10px;transition: all .5s; content: '';}
.menu-wrap-style .menu .sublist li a.on{color: #691a19;text-decoration: underline;}
.menu-wrap-style .menu .sublist li a.on:before{border-color: #691a19;border-radius: 100px;}
.menu-wrap-style .menu .sublist li a:hover{color: #691a19;text-decoration: underline;}
.menu-wrap-style .menu .sublist li a:hover:before{}
.menu-wrap-style .menu .sublist li.v3{padding-left: 20px;}
.menu-wrap-style .menu .sublist li.v3 a{}
.menu-wrap-style .menu .sublist li.v3 a:before{display: none;}

.menu-wrap-style .related{ margin-top: 22px; width: 100%;}
.menu-wrap-style .related .r_title{ width: 100%; height: 23px; line-height: 23px; font-size: 23px; color: #191919;font-family:'Oswald-Light', Arial;letter-spacing: 1px;font-weight: bold;}
.menu-wrap-style .related .r_list{ margin-top: 5px; width: 100%;}
.menu-wrap-style .related .r_list .item{ padding: 16px 0 19px; border-bottom: 1px solid #e5e5e5;}
.menu-wrap-style .related .r_list .item:first-child{ border-top: 0;}
.menu-wrap-style .related .r_list .title{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; width: 100%; line-height: 24px; font-size: 15px; color: #222; font-weight: bold; text-decoration: none; overflow: hidden;    font-family: Oswald-Light;
    letter-spacing: 0.5px;}
.menu-wrap-style .related .r_list .author{ margin-top: 6px; width: 100%; height: 21px; line-height: 21px; font-size: 14px; color: #989898; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.menu-wrap-style .related .r_list .brief{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; margin-top: 8px; width: 100%; line-height: 20px; font-size: 14px; color: #888; word-break: break-all; overflow: hidden;}

.menu-wrap-style{ width: 277px; float: left;}
.wrap-righter-style{ width: 74.85%; float: right;}


/* .ueeshop_responsive_products_inquiry{display: flex;justify-content: center; align-items: center;} */
.products .pro_left{width: 24%;}
.products .pro_cate{ margin-bottom: 25px; width: 100%;}
.products .pro_cate .content{ margin-top: 24px;}
.products .pro_cate .page_name{height: 38px;line-height: 38px; position: relative; font-size: 23px; color: #333; font-family: 'Oswald-Light', Arial;font-weight: bold;letter-spacing: 1px;}
.products .pro_cate .first_cate{ height: 33px;line-height: 33px; position: relative; padding-right: 20px; overflow:hidden; cursor: pointer;}
.products .pro_cate .first_cate.son span{ display: block; position: absolute; right: 0; top: 50%; width: 10px; height: 10px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.products .pro_cate .first_cate.son span:before{ display: block; content: ''; position: absolute; top: 0; left: 50%; width: 2px; height: 10px; background: #000; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.products .pro_cate .first_cate.son span:after{ display: block; content: ''; position: absolute; top: 50%; left: 0; width: 10px; height: 2px; background: #000; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.products .pro_cate .first_cate a{ display: block; width: 100%; height: 33px; font-size: 17px; color: #595959;font-weight: 500;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.products .pro_cate .first_cate a:hover{ color: #0359b0;}
.products .pro_cate .son_cate{ display: none; margin-bottom: 6px;}
.products .pro_cate .list.on .son_cate{display: block;}
.products .pro_cate .list.on .first_cate.son span:before{ transform: rotate(90deg);}
.products .pro_cate .son_cate .item{ position: relative; padding-left: 0; height: 38px;}
.products .pro_cate .son_cate .item a{ display: block; margin-top: 19px; width: 100%; height: 100%; line-height: 30px; background: url(../img/cate_two_icon.png) no-repeat left -15px center; font-size: 14px; color: #838383; font-family: 'Opensans-Regular'; box-sizing: border-box; transition: all 0.5s;}
.products .pro_cate .son_cate .item a:hover{ padding-left: 16px; background-position: left 1px center;}
.products .pro_cate .son_cate .item.on a{ padding-left: 16px; background-position: left 1px center;}
.products .pro_cate .son_cate .item:hover a,
.products .pro_cate .son_cate .item.on a,
.products .pro_cate .son_cate .subcate3 a.sia:hover,
.products .pro_cate .son_cate .subcate3 a.sia.on{color: #D8EEF3;}
.products .pro_cate .son_cate .subcate3{ margin-bottom: 10px;}
.products .pro_cate .son_cate .subcate3 a.sia{ display: block; padding-left: 32px; font-size: 16px; color: #7a7a7a; line-height: 30px;}

.products .pro_cate .list{ 
    margin-top: 20px;
    width: 100%;
    height: 100%;
    line-height: 48px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    background: url(../img/cate_title_bg_icon0.png) no-repeat right center;
    box-sizing: border-box;}
.products .pro_cate .list:first-child{ margin-top: 0;}
.products .pro_cate .list .row{ padding: 20px 0; width: 100%;}
.products .pro_cate .list .row:first-child{ border-top: 0;}
.products .pro_cate .list .row .img{ display: block; width: 25.5396%; max-height: 71px;}
.products .pro_cate .list .row .row_txt{ width: calc(100% - 30.9353%);}
.products .pro_cate .list .row .row_txt .name{ line-height: 22px; font-size: 15px; color: #000;font-family: Oswald-Light;letter-spacing: 0.5px;}
.products .pro_cate .list .row .row_txt .price{ color: #000;font-family: Oswald-Light; margin-top: 5px;}

.contenter .ueeshop_responsive_products_list .item{ margin-right: 2.9661%; width: 31.3559%;}
.contenter .ueeshop_responsive_products_list .item:nth-child(3n){ margin-right: 0;}
.contenter .ueeshop_responsive_products_list .item .pro{ width: 100%;}

.contenter .ueeshop_responsive_position{ border-bottom: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
.contenter .ueeshop_responsive_position .title{ height: 38px; line-height: 38px; font-family: 'Oswald-Light', Arial;font-weight: bold;letter-spacing: 1.5px;}
.contenter .ueeshop_responsive_position .position{ height: 35px; line-height: 35px;}
.contenter .ueeshop_responsive_products_list{ margin-top: 32px;}
.contenter .ueeshop_responsive_position .position a{ font-size: 12px; color: #808080; font-family: 'Lato-Regular', Arial;}
.contenter .ueeshop_responsive_position .position a:last-child{ color: #808080;}

.contenter .ueeshop_responsive_products_list .item .info .name{ line-height: 34px; height: 68px;}
.contenter .ueeshop_responsive_products_list .item .info .name a{ font-size: 20px; color: #000; font-family: 'Oswald-Light', Arial;}
.contenter .ueeshop_responsive_products_list .item .info .price{ font-size: 18px; color: #000; font-family: 'Oswald-Light', Arial;}

.contenter .cate_brief{ width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box;}

body .ueeshop_responsive_products_detail .description .title{padding: 10px 0 0 ;}
.product-detail .ueeshop_responsive_products_detail .description .title{border: none;}
.product-detail .ueeshop_responsive_products_detail .description .title span{font-size: 30px;color: #1f1f1f;position: relative;background: #fff;margin-right: 0;padding-right: 15px;}
.product-detail .ueeshop_responsive_products_detail .description .title span:after{position: absolute;width: 10000px;left: 100%;top: 13px;height: 1px;background: #e3e3e3;margin-left: 20px;content: '';}

body .ueeshop_responsive_case_list .item .img{ width: 33.1073%;}
body .ueeshop_responsive_case_list .item .info{ margin-top: 36px; padding-left: 47px; width: 61.5819%;}
body .ueeshop_responsive_case_list .item .info .name{ position: relative; margin-bottom: 0; padding-bottom: 15px; height: 38px; line-height: 38px;}
body .ueeshop_responsive_case_list .item .info .name:before{ display: block; content: ''; position: absolute; left: 0; bottom: 0; width: 44px; height: 1px; background: #f1ad49;}
body .ueeshop_responsive_case_list .item .info .name a{ font-size: 24px; color: #333;}
body .ueeshop_responsive_case_list .item .info .desc{ padding-top: 20px; line-height: 24px; font-size: 14px; color: #5b5b5b;}

.ueeshop_responsive_download_list ul li a:hover{background-color: #814d95;}

body .ueeshop_responsive_turn_page{text-align: center;}
body .ueeshop_responsive_turn_page span{width: auto;min-width: 54px;}
body .ueeshop_responsive_turn_page span a{ display: block; background: #fff;}
body .ueeshop_responsive_turn_page span .page_item_current{ background: #555; color: #fff;}
body .ueeshop_responsive_turn_page span a,
body .ueeshop_responsive_turn_page span font{ background: #f4f7f6; color: #555;font-size: 18px;width: 100%;}
body .ueeshop_responsive_turn_page span em{width: 20px;height: 8px;}
body .ueeshop_responsive_turn_page span em.icon_page_prev{width: 21px;height: 10px;background: url(../img/prev_page.png) no-repeat center;}
body .ueeshop_responsive_turn_page span em.icon_page_next{width: 21px;height: 10px;background: url(../img/next_page.png) no-repeat center;}
/*商品列表页*/
.product-list{background: #fff;}
.product-list .banner{
     position: relative;
    background: center center no-repeat;
    background-size: cover;
    padding-top: 20%;background: url('../img/banner_product.png');
}
.product-list .banner .txt{
position: absolute;
    top: 49%;
    transform: translateY(-50%);
    left: 220px;
    color: #fff
}
.product-list .banner .txt em{
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 40px;
    position: relative;
}
.product-list .banner .txt em:after{
content: "";
    width: 64px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.product_details_banner{
   position: relative;
    background: center center no-repeat;
    background-size: cover;
    padding-top: 30%;
    background: url('../img/banner_product.png');
}
.product_details_banner .txt{
position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 220px;
    color: #fff
}

.product_details_banner .txt em{
letter-spacing: 3px;
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 29px;
    font-weight: 700;   
    font-style: normal;
}
.product_details_banner .txt em:after{
content: "";
    width: 64px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
#goods_list{overflow: hidden;}
.pro_right{ padding: 52px 0;}
.pro_right .pro_left{ width: 23.3333%;}
.pro_right .cate_info{ margin-bottom: 32px; width: 100%;}
.pro_right .cate_info .cate_title{ width: 100%; height: 37px; line-height: 37px; font-size: 24px; color: #000; font-family: Georgia;}
.pro_right .box{width:30%;background: #fff;text-align: center;margin: 0 1.5% 0;padding: 25px 0 30px;}
.pro_right  .box .name a{display: block; height: 40px; line-height: 20px; margin-top: 20px; padding: 0 21px; font-size: 14px; color: #181a1f;font-weight: 500; font-family: "Raleway-Semibold"; text-align: center; overflow: hidden; text-decoration: none;}
.pro_right  .box .cas a{display: block; height: 40px; line-height: 20px; margin-top: 10px; padding: 0 21px; font-size: 12px; color: #181a1f;font-weight: 500; font-family: "Raleway-Semibold"; text-align: center; overflow: hidden; text-decoration: none;}
.pro_right  .box .price{display: block;line-height: 20px; margin-top: 5px;font-size: 14px; color: #181a1f; font-family: "Raleway-Semibold"; text-align: center;}
.pro_right  .box .item_btn{display: block; width: 118px; height: 33px; line-height: 33px; margin: 0 auto; margin-top: 16px; background: #fff; font-size: 13px; color: #fd3c3d;border:1px solid #fd3c3d; font-family: "Raleway-Semibold"; text-align: center; text-decoration: none;}
.pro_right  .box .item_btn:hover{background: #fd3c3d;color: #fff;}
.pro_right .box:hover a{color: #0359b0}
.wrap-module .ueeshop_responsive_products_detail_review .review_form h1{font-size: 30px;color: #1f1f1f;text-align: center;margin-bottom: 35px;}


.menu-in-left .menu-wrap-style .pro_cate .page_name{height: 38px;line-height: 38px;position: relative;font-size: 23px;color: #333;font-family: 'Oswald-Light', Arial;font-weight: bold;letter-spacing: 1px;}

.menu-wrap-style .pro_cate .list .first_cate a{display: block;width: 100%;height: 33px;font-size: 17px;color: #595959;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 33px;}

.download-list .related{ margin-top: 22px; padding-bottom: 20px; width: 100%;}
.download-list .related .r_list{ margin-top: 5px; width: 100%;}
.download-list .related .r_list .item{ margin-top: 20px; width: 100%;}
.download-list .related .r_list .item .img{ display: block; width: 100%; text-align: center;}
.download-list .related .r_list .item:first-child{ border-top: 0;}
.download-list .related .r_list .title{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; margin-top: 11px; width: 100%; line-height: 20px; font-size: 16px; color: #000; text-decoration: none; overflow: hidden;}
.download-list .related .r_list .time{ margin-top: 11px; width: 100%; height: 20px; line-height: 20px; font-size: 14px; color: #989898; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.download-list .related .r_list .brief{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; margin-top: 7px; width: 100%; line-height: 23px; font-size: 14px; color: #888; word-break: break-all; overflow: hidden;}

#header{ height: 60px;}
#header .header_in{ display: flex; justify-content: space-between; flex-wrap: nowrap; position: relative; width: 100%; height: 60px; background: #fff; transition: all 0.3s;}
#header .header_in.fixed{ position: fixed; left: 0; top: 0; z-index: 100;box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%)}

/* t262 start */
a:hover{text-decoration:none;}
.index_wrapper_1200{overflow:hidden;margin:0 auto;width:1200px;}
#header{display:flex;height:60px;flex-wrap:nowrap;justify-content:space-between; /*align-items:center;*/ position: relative;z-index: 10000;}
#header .logo{display:flex;width:14.0626%;justify-content:flex-start;align-items:center;box-sizing: border-box;padding-right: 10px;padding-left: 4.16666%;}
#header .logo img{max-height: 60px;}
#header .hedaer_nav{    overflow: hidden;/*display:flex;*/ width:64%; /*flex:1 1 auto;justify-content:center;*/align-items:center;text-align: center;}
.default_nav_style .n_item{display: inline-block; margin-right: 20px; float: unset; height: 40px; line-height: 40px;}
.default_nav_style .n_item:last-child{margin-right: 0px;}
.default_nav_style .n_item>a{ color: #002263;padding: 0px; font-size: 16px; text-transform:uppercase; line-height: 40px; }
.default_nav_style .n_item>a:hover{ color: #0359b0; border-bottom:1px solid #0359b0;}

.default_nav_style .nav_sec .nav_sec_item{text-align: left;}
.default_nav_style .small_nav_sec .nav_sec_item a, .default_nav_style .small_nav_sec .nav_sec_item dt a{ height: 30px; line-height: 30px; font-family:"Oswald-Light"; font-size: 14px; }
/*
#header .hedaer_nav .header_nav_item{position:relative;margin-right:50px;font-weight:700;}
#header .hedaer_nav .header_nav_item:last-of-type{margin-right:0;}
#header .hedaer_nav .header_nav_item a{font-family: "Oswald-Light";font-weight: bold;display: block;height: 30px;overflow: hidden;color:#333;text-transform:uppercase;font-size:16px;line-height:30px;}
#header .hedaer_nav .header_nav_item a:hover{color: #111111;}
#header .hedaer_nav .header_nav_item .header_item_navSub{position:absolute;top:100%;left:50%;z-index:2;box-sizing:border-box;padding:9px 30px;width:180px;border-radius:3px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.1);opacity:0;transition:all .5s;transform:translate(-50%,0);pointer-events:none;}
#header .hedaer_nav .header_nav_item .header_item_navSub a{display:block;overflow:hidden;height:36px;text-transform:capitalize;letter-spacing:1px;font-weight:400;font-size:14px;line-height:36px;}
#header .hedaer_nav .header_nav_item:hover .header_item_navSub{opacity:1;pointer-events:all;}*/
#header .header_icon_list{display:flex;box-sizing:border-box;padding-right:4.16666%;width:14.0626%;;justify-content:flex-end;align-items:center;}
#header .header_icon_list .header_icon_item{margin-right:1.30208vw;width:30px;height:30px;}
#header .header_icon_list .header_icon_item a{display:block;width:100%;height:100%;font-family: Oswald-Light;}
#header .header_icon_list .header_icon_item .default_shopping_cart{width: 20px; height: 28px; background-size: 100%;}
#header .header_icon_list .header_icon_item:last-of-type{margin-right:0;}
#header .header_icon_list .header_icon_search{position:relative;background:url(../img/iocn_search.png) no-repeat no-repeat center center; background-size: 28px;}
#header .header_icon_list .header_icon_search .header_search_form{position:absolute;top:50%;right:0;width:250px;height:42px;border-bottom:1px solid #555;background:#fff;opacity:0;transition:all .4s;transform:translateY(-50%);pointer-events:none;display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;}
#header .header_icon_list .header_icon_search .header_search_form .text{box-sizing:border-box;padding-left:10px;width:80%;height:100%;border:0;background:0 0;}
#header .header_icon_list .header_icon_search .header_search_form .sub_btn{width: 30px;height: 30px;line-height: 100%;border:0;background:url(../img/iocn_search.png) no-repeat center center;cursor:pointer;}
#header .header_icon_list .header_icon_user{background:url(../img/icon_user.png) no-repeat no-repeat center center;}
#header .header_icon_list .header_icon_inquiry{position:relative;background:url(../img/icon_inquiry.png) no-repeat no-repeat center center;}
#header .header_icon_list .header_icon_lang{position:relative;color:#373737;font-size:20px;font-family:Oswald-Light;line-height:30px;}
#header .header_icon_list .header_icon_lang{position:relative;background:url(../img/language.png) no-repeat no-repeat center center; background-size: 22px;}


#header .header_icon_list .header_icon_lang a{text-align:center;}
#header .header_icon_list .header_icon_lang .lang_choice{display: none;position:absolute;top:100%;left:50%;z-index:99;overflow:hidden;padding:5px;width:100px;border-radius:5px;background:#fff;box-shadow:0 5px 10px rgba(0,0,0,.3);-webkit-transform:translateX(-50%);transform:translateX(-50%); max-height: 420px; overflow-y: auto;}
#header .header_icon_list .header_icon_lang .lang_choice::-webkit-scrollbar{display: none;}
#header .header_icon_list .header_icon_lang .lang_choice a{display:block;color:#000;text-align:center;font-size:14px;font-family:Lato-Light;line-height:28px;}
#header .header_icon_list .header_icon_lang:hover .lang_choice{display: block;}

#footer{padding-top:120px;background:#fff;}
#footer .footer_logo{display:block;text-align:center;}
#footer .footer_content{display:block;margin-top:47px;color:grey;text-align:center;font-size:16px;line-height:28px;}
#footer .foot_share{display:flex;margin-top:46px;justify-content:center;align-items:center;}
#footer .foot_share .foot_share_box{margin-right:13px;width:40px;height:40px;background-repeat:no-repeat;vertical-align:middle;transition:all .3s;}
#footer .foot_share .foot_share_box:last-of-type{margin-right: 0;}
#footer .foot_share .Facebook{background-position:0 0;}
#footer .foot_share .Instagram{background-position:0 -280px;}
#footer .foot_share .Twitter{background-position:0 -40px;}
#footer .foot_share .LinkedIn{background-position:0 -120px;}
#footer .foot_share .Google{background-position:0 -200px;}
#footer .foot_share .Pinterest{background-position:0 -80px;}
#footer .foot_share .foot_share_box:hover{background-color:#814d95;background-blend-mode:color-dodge;}
#footer .footer_nav_list{display:flex;margin-top:70px;margin-bottom:51px;flex-wrap:wrap;justify-content:center;}
#footer .footer_nav_list .footer_nav_item{margin-right:55px;font-size:14px;}
#footer .footer_nav_list .footer_nav_item:last-of-type{margin-right:0;}
#footer .footer_nav_list .footer_nav_item a{color:#595959;text-transform:uppercase;line-height:30px;}
#footer .footer_copy{display:flex;box-sizing:border-box;padding:30px 0;height:auto;min-height:80px;background:#212121;justify-content:center;align-items:center;}
#footer .footer_copy span{display:block;display:block;margin:0 auto;width:90%;height:auto;color:#bfbfbf;text-align:center;line-height:30px;}
#footer .footer_copy span a{color:#bfbfbf;}

.ueeshop_responsive_download_list ul li{overflow:hidden;display:flex;justify-content:space-between}
.ueeshop_responsive_download_list ul li .name{height:48px;overflow:hidden;flex-shrink:1}
.ueeshop_responsive_download_list ul li a{flex-shrink:0;margin-left:5px}
.ueeshop_responsive_products_inquiry{min-height:560px}

/* edit  start*/
body .ueeshop_responsive_case_list .item .img{width:33.1073%}
body .ueeshop_responsive_case_list .item .info{margin-top:36px;padding-left:47px;width:61.5819%}
body .ueeshop_responsive_case_list .item .info .name{position:relative;margin-bottom:0;padding-bottom:0;margin-bottom: 15px;;height:38px;line-height:38px;overflow: hidden;}
body .ueeshop_responsive_case_list .item .info .name:before{display:block;content:'';position:absolute;left:0;bottom:0;width:44px;height:1px;background:#595959}
body .ueeshop_responsive_case_list .item .info .name a{font-size:20px;color:#000;font-family:Oswald-Light;letter-spacing: 1px;}
body .ueeshop_responsive_case_list .item .info .desc{padding-top:20px;line-height:24px;font-size:14px;color:#5b5b5b}

.ueeshop_responsive_info_detail>.title{font-family:Oswald-Light; letter-spacing: 2px;color: #000;}
.info-list .ueeshop_responsive_info_list .item .info .title a{font-family:Oswald-Light; letter-spacing: 1px;font-size: 20px !important;color: #000;}
.product-detail .ueeshop_responsive_products_detail  .info .name{font-family: Oswald-Light;color: #000000;}

.ueeshop_responsive_products_detail .info .button .add_to_inquiry{background: #000000;}
/* edit end */

/* t262 end */
@media (max-width: 1440px){
    .wrap{ width: 90%!important;}
}

/* t262 start */

@media screen and (max-width:1220px){
    .index_wrapper_1200{overflow:hidden;box-sizing:border-box;padding:0 4vw;width:100%}
    #header .header_icon_list{padding-right:3.16666%;}
}

/* t262 end */
@media (max-width: 991px){
    /* t262 start */
    #header{display:none}
    /* t262 end */
    .product-list .contenter #plist .contents .blk{width: 31%;margin:0 1% 25px;}
    /*.pro_cate{display: none;}*/
    .products .pro_left{width: 100%}
    .menu-wrap-style{display: none;}
    .menu-in-left .wrap-righter-style{width: 100%;}
    .pro_right {padding:  0;}
    body .ueeshop_responsive_case_list .item .info .name{padding-bottom:9px}
    body .ueeshop_responsive_case_list .item .info .name a{font-size:16px;font-weight:700}
    body .ueeshop_responsive_case_list .item .info .desc{padding-top:13px}
}
@media (max-width: 768px){
    .wrap-module .ueeshop_responsive_products_list .item{ margin-right: 2%; width: 49%;}
    .wrap-module .ueeshop_responsive_products_list .item:nth-child(4n){ margin-right: 2%;}
    .wrap-module .ueeshop_responsive_products_list .item:nth-child(2n){ margin-right: 0;}
    .ueeshop_responsive_case_list .item{display:flex;justify-content:center;align-items:center}
    .ueeshop_responsive_case_list .item .img{width:33.1073%}
    body .ueeshop_responsive_case_list .item .info{margin-top:36px;padding-left:47px;width:61.5819%}
    body .ueeshop_responsive_case_list .item .info{margin-top:20px}
    /* t262 start */
    #footer{padding-top:13.33333vw}
    #footer .footer_logo img{width:50%}
    #footer .footer_content{margin-top:5.6vw;font-size:14px;line-height:22px}
    #footer .foot_share{margin-top:5.86666vw;flex-wrap:wrap}
    #footer .foot_share .foot_share_box{margin-right: 10px;}
    #footer .footer_copy{padding:15px 0;min-height:75px}
    #footer .footer_copy span{font-size:14px;line-height:22px}
    #footer .footer_copy{flex-wrap:wrap}
    #footer .footer_nav_list{margin-top:5.6vw;margin-bottom:8vw;justify-content:center}
    #footer .footer_nav_list .footer_nav_item{margin-right:5.86666vw}
    #footer .footer_nav_list .footer_nav_item a{line-height:32px}
    /* t262 end */
}

@media screen and (max-width:600px){.contenter .ueeshop_responsive_position{margin-bottom:26px}
.ueeshop_responsive_case_list{width:100%}
.ueeshop_responsive_case_list .item{flex-wrap:wrap}
body .ueeshop_responsive_case_list .item .img{width:100%}
.ueeshop_responsive_case_list .item .img{width:100%}
body .ueeshop_responsive_case_list .item .info{width:100%;padding-left:0}
}

.ul-fq05{margin:0 -24px;overflow:hidden}
.ul-fq05 li{visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
    border:1px solid #fff;
    list-style: none;margin-bottom:40px;padding:0 18px 18px;width:30%;float:left}
.ul-fq05 li:hover .goodInfo{
    color: #0359b0
}
.ul-fq05 li:hover{
   border:1px solid #0359b0;
}
.ul-fq05 .inner{display:block;overflow:hidden;position:relative;z-index:10}
.ul-fq05 .pic{padding-top:4%;position:relative;z-index:2;overflow:hidden}
.ul-fq05 .pic img{max-width:100%;height:auto;
    margin: 0 auto;
    display:block;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.ul-fq05 .inner:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.ul-fq05 .cover{width:100%;height:100%;top:0;left:0;z-index:3;background:rgba(0,0,0,.5);-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.ul-fq05 .inner:hover .cover{background:0 0}
.ul-fq05 .cover h3{width:100%;text-align:center;font-size:30px;color:#efeff7;font-weight:400;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.goodInfo{ font-size: 16px;text-align:center; padding-top:10px;}

.ul-fq05 .goodInfo .name{
   font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {.goodInfo{ width:100%; margin:0px auto;}}
@media screen and (max-width: 1024px) {.goodInfo{ width:100%; margin:0px auto; padding-top:34px;}}
.lanrenzhijia {
                    width: 100%;
                    margin: 40px auto;
                    background: #f8f8f8;
                    font-family: '微软雅黑';
                }

                .lanrenzhijia .tab {
                    overflow: hidden;
                    background: #ededed;
                }

                .lanrenzhijia .tab a {
                    display: block;
                    padding: 14px 24px;
                    float: left;
                    text-decoration: none;
                    color: #333;
                }

                .lanrenzhijia .tab a:hover {
                    background: #0359b0;
                    color: #fff;
                    text-decoration: none;
                }

                .lanrenzhijia .tab a.on {
                    background: #0359b0;
                    color: #fff;
                    text-decoration: none;
                }

                .lanrenzhijia .content {
                    overflow: hidden;
                    padding: 10px;
                }

                .lanrenzhijia .content li {
                    display: none;
                }
                .lanrenzhijia .content .product_url {
                    color: #606266;
                    display: block;
                    margin-right: 40px;
                    overflow: hidden;
                    padding-left: 4px;
                    text-overflow: ellipsis;
                    transition: color .3s;
                    white-space: nowrap;
                }

                .lanrenzhijia .content .product_url p {
                    margin-top: 20px;
                }

                .lanrenzhijia .content .product_url p i {
                    overflow: hidden;
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                    background: url(../img/download.png)  no-repeat;
                    background-size: 24px;    
                    cursor: pointer;
                }

                .m-ht4 {
                    background-color: #fff;
                    padding: 0 60px;
                    box-shadow: 4px 9px 30px 0 rgba(170, 177, 191, .18);
                    border-radius: 12px;
                    overflow: hidden;
                    position: relative;
                    top: -150px;
                }

                .p_each {
                    font-size: 14px;
                    color: #087CDE;
                    padding: 10px;
                    width: 130px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid rgba(8, 124, 222, 1);
                    border-radius: 2px;
                }
                .m-ht3 .lmore{display:block;margin:24px auto 0;width:181px;height:60px;line-height:60px;text-align:center;color:#fff;font-size:14px;background-color:#333;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
.m-ht3 .lmore:hover{opacity:.8}
.row-hd1{background-color:#fbfcfe;padding:0 204px;margin-bottom:-60px}
.m-ht4{background-color:#fff;padding:0 60px;box-shadow:4px 9px 30px 0 rgba(170,177,191,.18);border-radius:12px;overflow:hidden;position:relative;top:-150px}
.m-ht4 .tit{padding-top:78px;padding-bottom:19px;border-bottom:1px solid #ececec;position:relative}
.m-ht4 .tit h1{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:30px;color:#050b21;font-weight:400;padding-bottom:25px;line-height:1;letter-spacing:2px;padding-right:100px}
.m-ht4 .tit .date{color:#777;font-size:12px}
.m-ht4 .tit .share{position:absolute;right:0;bottom:41px}
.m-ht4 .bds_more{display:none}
.m-ht4 .bds_tsina{background:url(../images/h-wb.png) center center no-repeat!important;width:32px;height:32px;border-radius:50%}
.m-ht4 .bds_tsina:hover{opacity:1!important;background-image:url(../images/h-wbo.png)!important}
.m-ht4 .bds_tqq{background:url(../images/h-tx.png) center center no-repeat!important;width:32px;height:32px;border-radius:50%}
.m-ht4 .bds_tqq:hover{opacity:1!important;background-image:url(../images/h-txo.png)!important}
.m-ht4 .cont{line-height:26px;padding:24px 0 128px;font-size:14px;color:#777}
.yy_main{position: relative;height: 100vh;}
.bg-video{position:absolute;top:0;left:0;bottom:0;right:0;background-color:#000;z-index:-1;overflow:hidden}
.bg-video video{position:absolute;top:0;left:0;z-index:1;min-width:100%;min-height:100%}
.ul-ht2{position:absolute;z-index:2;top:50%;transform:translateY(-50%);left:0;width:100%;overflow:hidden;padding:0 100px}
.ul-ht2 li{float:left;width:20%}
.ul-ht2 .con{margin:0 63px;position:relative}
.ul-ht2 .pic{padding-top:197.24%;position:relative;overflow:hidden}
.ul-ht2 .con img{position:absolute;left:0;top:0;width:100%;height:100%}
.ul-ht2 .txt{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#fff;width:100%;text-align:center;z-index:3}
.ul-ht2 .txt span{padding:0 10px;display:block;font-size:18px}
.ul-ht2 .txt em{font-size:12px}
.ul-ht2 .mask{position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;background:rgba(0,0,0,.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.ul-ht2 .con:hover .mask{background:rgba(0,0,0,0)}

@media only screen and (max-width:1380px){
.m-fq02{padding:0 50px}
.m-contact .left{padding-left:30px;padding-right:30px;width:40%}
.m-contact .right{padding-left:30px;padding-right:30px;width:60%}
.m-ht1 .l,.m-ht2 .r{width:550px}
.m-ht2 .r2{width:580px}
.m-ht1 .ovh{padding-left:50px}
.row-ho1,.row-ho2,.row-ho3,.row-ho4,.row-ho5{padding:100px 0}
.m-ht3{padding:80px 70px 50px}
.row-hd1{padding:0 100px}
.m-ht2 .txt-h{padding-left:50px}
.banner .txt p{margin-bottom:30px}
.banner .txt h2{font-size:48px;line-height:55px;margin-bottom:30px}
.banner .slick-dots{bottom:5%}
.slick-qj .p1{margin-bottom:20px}
.index-row1 .slick-qj .slick-arrow{bottom:20%}
.index-row1 .r{padding:50px 0 0}
.slick-qj .p2{margin-bottom:50px}
.index-row2 p{margin-bottom:20px;line-height:2}
.slick-pic .txt{padding:20px 0 0}
.slick-pic .txt h4 a{font-size:22px}
.index-row5 .g-btn.btn2{margin-top:50px}
.index-row5 .pic{width:240px}
.case-con{height:420px;padding-left:350px}
.index-row4{padding:50px 0 0}

}
 @media screen and (min-width: 1024px) {
    .gg01 {
        width: 48%;
        position: relative;
        float: left
    }

    .gg02 {
        width: 48%;
        position: relative;
        float: right
    }
}

@media screen and (max-width: 1024px) {
    .gg01 {
        width: 100%;
        position: relative;
        float: left
    }

    .gg02 {
        width: 100%;
        position: relative;
        float: right
    }
}

.classification{
    overflow: hidden;
    max-width: 1400px;
    width: 92%;
    margin: 0 auto;
}
.classification .title{
        width: 100%;
    height: 45px;
    margin: 80px auto 50px;
    line-height: 1.2;
    font-size: 30px;
    color: #0359b0;
    font-weight: bold;
    text-align: center;
}

.classification .classification_list {
       display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}
.classification .classification_item {
        position: relative;
    height: auto;
    background: #fff;
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    width: 23.403%;
    margin-bottom: 20px;
    margin-right: 2.12%;
}

.classification .classification_item:nth-child(4n) {
    margin-right: 0;
}

.classification .classification_item span {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: #fff;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.classification .classification_item img {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    text-decoration: none;
    overflow: hidden;    
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.classification .classification_item:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.classification .classification_item:hover a{
  background-image: -moz-linear-gradient( 90deg, rgb(42,85,240) 0%, rgb(248,248,248) 99%);
  background-image: -webkit-linear-gradient( 90deg, rgb(42,85,240) 0%, rgb(248,248,248) 99%);
  background-image: -ms-linear-gradient( 90deg, rgb(42,85,240) 0%, rgb(248,248,248) 99%);
  opacity: 0.71;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 82;
}

@media screen and (max-width: 600px){
    .row-hd1 {
        padding: 0 15px;
    }

    .m-ht4 {
        padding: 0 20px;
    }

    .lanrenzhijia .tab a {
        padding: 14px 14px;
    }
    .classification{
    overflow: hidden;
    
    width: 96%;
    min-width: 96%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.classification .title{
    font-size: 20px;
}

.classification .classification_item {
   display: block;
    width: 90%;
    height: 100%;
        margin: 0 auto 20px;
    float: none;
}

.classification .classification_item:nth-child(4n) {
    margin: 0 auto 20px;
}
.classification .classification_item img{
    height: auto
}

}
.ovh{overflow: hidden;}
.ad_products{
    width: 100%;
    padding-top: 4.6875vw;
    background: url(../img/index/bg.png) no-repeat bottom center; z-index: 1;
}
.barnd_title{
    width: 100%;
    height: 45px;
    margin: 0 auto 50px;
    line-height: 1.2;
    font-size: 30px;
    color: #0359b0;
    font-weight: bold;
    text-align: center;
}

.barnd_list{
    overflow: hidden;
    margin-top: 50px;
}
.barnd_list .item{  

        position: relative;
    margin-bottom: 20px;
    padding: 0 10px;
    float: left;
    width: 215px;
    height: 215px;   
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}
.barnd_list .item img{
position: absolute;
        display: block;
        max-width: 100%;
    max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
/*max-width: 100%;
    max-height: 100%;
    border: none; 
        vertical-align: middle;*/
}
.ad_products ul li{
}
.ad_products .item{

    padding: 3.12vw 1.5625vw 3.645vw;
  /*height: 454px;*/
  border-radius: 0.52vw;
  background-color: rgb( 246, 247, 249 );
}

.ad_products .img{
    float: left;
    width: 11vw;
    border-right: 1px solid #cacacc;
}
.ad_products .desc{
    float: right;
    width: 12.5vw;
    margin-left: 0.56vw;
}
.ad_products .desc .name{
color: #000000;
font-size: 24px;
margin-bottom: 1.56vw;
    margin-top: 1vw;
font-family: "TradeGothicw01-Bold";
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.ad_products .desc .cas{
color: #767676;
font-size: 18px;
}
.ad_products .goProducts {
  position: absolute;
  left: 50%;
  bottom: -30px;
  margin-left: -300px;
  width: 300px;
  height: 97px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 97px;
  font-size: 34px;
  background-color: rgb( 3, 89, 176 );
}
.advantage_products_title{
    width: 100%;
    height: 45px;
    margin: 80px auto 50px;
    line-height: 1.2;
    font-size: 30px;
    color: #0359b0;
    font-weight: bold;
    text-align: center;
}
.advantage_products {
    width: 100%;
    height: 460px;
    background: url(../img/index/bg.png);
}
.advantage_products .title{
   padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.advantage_products .item{
    display: block;
  border-radius: 5px;
  background-color: #fff;
  width: 337px !important;
  height: 174px;
  z-index: 95;
  padding: 20px;    
  margin-right: 2vw !important;
}
.advantage_products .item .img{
  float: left;
  width: 154px;
  height: 154px;    
  padding-right: 20px;
  border-right:1px solid #cacacc;
}

.advantage_products .item .desc{
  float: right;
  width: 154px;
}

.advantage_products .item .name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  font-size: 16px;
  color: #000000;
  width: 154px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.advantage_products .item .cas{
  font-size: 14px;
  color: #767676;
}
body .bx-wrapper .bx-pager, body .bx-wrapper .bx-controls-auto {
    bottom: -60px !important;
}
.advantage_products .bx-viewport{
    height: 234px !important;
}
.advantage_products .item .btn{
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -1vw;
    overflow: hidden;
    min-width: 134px;
    min-height: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    background-color: #0359b0;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    }


@media screen and (max-width: 768px) {
    .ad_products .desc{

    float: none;
    width: 100%;
    }
    .ad_products .desc .name{
        text-align: center;
        font-size: 20px;    
        margin-top: 2vw;
    }
    .ad_products .desc .cas{
        text-align: center;
        font-size: 18px;
    }
  
}



.t143_slide .srcoll_btn_prev {
    background-image: url(../img/poster_left.png);
}

.t143_slide .srcoll_btn_next {
    background-image: url(../img/poster_right.png);
}

.t143_ly_leftbtn {
    background-image: url(../img/product_left.png);
}

.t143_ly_rightbtn {
    background-image: url(../img/product_right.png);
}
.about_banner {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
    max-width: 100%;
    max-height: 500px;
}
.about {
}
.bg_contactus{
    position: relative;
    background: url('../img/contactus/bg.png');
    background-position: bottom;
    background-size: cover;
}
.about .content{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
.about .title {
    padding-top: 70px;
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #0359b0
}
.about .company_profile {
    float: left;
    width: 50%;
    margin: 0px auto;
    font-size: 16px;
    line-height: 30px;
}

.about .company_profile .desc {
}
.about .company_picture {
    overflow: hidden;
    float: right;
    width: 50%;
    margin: 140px auto 0;
}
.about .company_picture .img1{
    float: right;
    width: 227px;
    height: 225px;
    margin: 250px 18px 0 0;
}
.about .company_picture .img2{
    float: right;
    width: 240px;
    height: 515px;
    /*margin: 0 18px 0 0;*/
}
.about .company_picture .img3{
    float: right;
    width: 219px;
    height: 217px;
    margin: 92px 0 0 0;
}
@media screen and (max-width: 600px){

    .about {
    width: 100%;
    height: auto;
}
.about .content{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.about .title {
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0359b0
}
.about .company_profile {
    float: left;
    width: 100%;
    margin: 0px auto;
    font-family: 'Lato-Regular';
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
}

.about .company_picture{
    display: none;
}
.ul-fq05 {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.ul-fq05 li {
    list-style: none;
    margin-bottom: 30px;    
    padding: 0 20px 0 0;
    width: 47%;
    float: left;
}
.ul-fq05 li:nth-child(2n) {
    padding-right: 0;
}
}

.index_banner .banner_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1400px;
    max-height: 400px;
    text-align: center;
    margin: auto;
}
.index_banner .banner_content .title {
    font-weight: bold;
    font-size: 70px;color: #fff; padding-bottom: 30px;
}
.index_banner .banner_content .brief {
    font-size: 60px;
    letter-spacing: 0;
    margin-top: 10px;
}
.index_banner .search {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 3vw;
    left: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1px solid #0359b0;
    padding: 20px 25px;
    background-color: rgba(255,255,255,0.8);
}

.index_banner .search input {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    color: #0359b0;
    font-size: 30px;
    text-indent: 12px;
    background-color: transparent !important;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: background-color .1s ease, color .1s ease, box-shadow .1s ease, border-color .1s ease;
    transition: background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,border-color 0.1s ease;
}
.icon-search-big {
    float: right;
    overflow: hidden;
    display: inline-block;
    height: 56px;
    width: 56px;
    background: url(../img/search_btn1.png)  no-repeat;
    background-size: 40px;    
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0;
}
@media screen and (max-width: 1920px) {
    .index_banner.banner_content { max-height: 22.136vw; }
    .index_banner .banner_content .title {
        font-size: 60px;
        padding-bottom: 30px;
    }
    .index_banner .banner_content .brief {
        font-size: 50px;
    }
}

@media screen and (max-width: 1600px) {

     .index_banner .banner_content { width: 1200px }
    
    .index_banner .banner_content .title {
        font-size: 50px;
        padding-bottom: 30px;
    }
    .index_banner .banner_content .brief {
        font-size: 40px;
    }
}

@media screen and (max-width: 1440px) {
    
     .index_banner .banner_content { width: 1000px }
}

@media screen and (max-width: 1360px) {

     .index_banner .banner_content { width: 800px }
}
@media screen and (max-width: 991px){

    .index_banner .banner_content { display: none }
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0359b0 !important;
}

.p_each {
    font-size: 14px;
    color: #087CDE;    padding: 10px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(8, 124, 222, 1);
    border-radius: 2px;
}



.word_fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4f000000, endcolorstr=#4f000000);
    z-index: 99;
}

.word_con {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 570px;
    background: rgba(255, 255, 255, 1);
    z-index: 300;
}

.word_con h1 {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;    
    margin-bottom: 30px;
    background: #0359b0;
}

.word_con h1 span {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
}
.word_con h1 img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.wor_list {
    width: 500px;
    margin: 40px auto 0;
}

.wor_list>ul>li {
    margin-bottom: 20px;
}

.wor_list>ul>li span {
    width: 79px;
    color: #666666;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
    line-height: 34px;
}

.wor_list>ul>li span em {
    color: #F64B4B;
}

.wor_list>ul>li input, .wor_list>ul>li textarea {
    width: 400px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border: 1px solid rgba(222, 222, 222, 1);
}

.wor_list>ul>li textarea {
    height: 90px;
    padding: 10px;
    line-height: inherit;
}